
#tj-pane:active
{
      
   
    -fx-background-radius:20 20 20 20;
    -fx-border-color:transparent;
    
     
}
#tj-pane:expanded > .title
{
    -fx-background-color: #20b5ac;
   
     -fx-background-radius:  20 20 0 0;

   
  
}
#tj-anchor-pane
{
    -fx-background-color: rgba(255, 255, 255, 0.8);
  
    
    -fx-border-width:0;
    -fx-border-color:transparent;
     
}




.chart
{
    -fx-clockwise:false;
    -fx-pie-label-visible:true;
    -fx-label-line-length:15;
    -fx-start-angle:30;
    -fx-legend-side:bottom;
}

.chart-pie-label{
    -fx-font-size:10px;
}

.chart-content
{
    -fx-padding:0;
}

.default-color0.chart-pie
{
    -fx-pie-color:#0d68b8;
}

.default-color1.chart-pie
{
    -fx-pie-color:#82b8e7;
}


#pd-main-pane
{
     -fx-background-color: rgba(255, 255, 255, 0.8);
     -fx-border-width: 2 2 2 2;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#pd-line
{
    -fx-width:50px;
}

#chat-thread-pane
{
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#nav-bar-pane
{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-width: 2 0 0 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#chat-box-cell:active
{
    
     -fx-background-color: lightgray;   
}

#chatbox-pane
{
    -fx-background-color: white;  
    -fx-border-width: 2 0 0 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#chat-thread-heading
{
     -fx-background-color: white;  
    -fx-border-width: 0 0    2 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}
#con-heading
{
    -fx-background-color: white;  
    -fx-border-width: 1 0    2 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}
#chat-head
{
    -fx-padding:0;
}

#send-box
{
      -fx-background-color: white;  
    -fx-border-width: 2 0 0 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#search-agent-pane
{
     -fx-background-color: white;  
    -fx-border-width: 2 0 0 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}
#document-heading
{
    -fx-background-color: white;  
    -fx-border-width: 1 0    2 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#billing-cell
{
    -fx-background-color: white;  
    -fx-border-width: 0 0    2 0;
    -fx-border-style: solid;
    -fx-border-color:lightgray
}

#login-pane
{
      -fx-background-color: white;
       -fx-border-style: soli   d;
    -fx-border-color:lightgray;
    -fx-border-radius: 20 20 20 20;
     -fx-background-radius:  20 20 20 20;
}
#login-pane-header{
    -fx-background-radius:  20 20 0 0;
}

i
{
     -fx-background-radius:  10 10 10 10;
     -fx-background-color: #20b5ac;
}

#login-anchor-pane{
     -fx-background-image: url("../images/background.png");
}

#register-pane{
    
     -fx-background-color: rgba(255, 255, 255, 0.8);
       -fx-border-style: solid;
    -fx-border-color:lightgray;
    -fx-border-radius: 20 20 20 20;
     -fx-background-radius:  20 20 20 20;
    
}

#login-pane-btn{
    -fx-background-color: #20b5ac;
       -fx-background-radius:  20 20 20 20;
}

#register-pane-header{
      -fx-background-color: #20b5ac;
       -fx-background-radius:  20 20 0 0;
}
